<section 
class="relative h-screen flex flex-col items-center justify-center text-center text-white py-0 px-3 mb-4">
  
  <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
      <video class="min-w-full min-h-full absolute object-cover" src="../../../assets/homepage-video.mp4" type="video/mp4" autoplay muted loop></video>
  </div>
  <div class="absolute">
      <p class="text-1xl text-5xl text-white dark:text-white">
        The Future of Fleet Operations <br /> Management is Here
    </p>
    <p class="text-2xl mt-10 text-white-900 dark:text-white">
      Single platform to track, monitor, and manage your <br />
      vehicles, assets, fuel, expenses and more.
    </p>

    <button
    class="mt-10 w-10/12 h-12 rounded-full text-2xl text-white-900"
    style="background-color: skyblue"
  >
    Request a Demo
  </button>
    
  </div>
</section>

