/* dynamic-details.component.css */

.w-full {
    width: 100%;
  }
  
  .divide-y > * + * {
    border-top-width: 1px;
    border-color: #a5b3bb;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .divide-slate-200 {
    border-color: #cbd5e1;
  }
  
  .group {
    position: relative;
  }
  
  .relative {
    position: relative;
  }
  
  .pr-8 {
    padding-right: 2rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .list-none {
    list-style: none;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .text-slate-700 {
    color: #4a5568;
  }
  
  .focus-visible\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .transition-colors {
    transition-property: color;
  }
  
  .duration-300 {
    transition-duration: 300ms;
  }
  
  .group-hover\:text-slate-900:hover {
    color: #2d3748;
  }
  
  .open > svg {
    transform: rotate(45deg);
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .text-slate-500 {
    color: #718096;
  }
  