<section class="bg-white dark:bg-gray-900 p-4 mt-20">
  <ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
    <li
      class="relative flex flex-col sm:flex-row xl:flex-col items-start"
      *ngFor="let item of data"
    >
      <div class="order-1 sm:ml-6 xl:ml-0">
        <h3 class="mb-1 text-slate-900 font-semibold dark:text-slate-200">
          <span class="mb-1 block text-sm leading-6 text-indigo-500"
            >Headless UI</span
          >
          {{ item.title }}
        </h3>
        <div class="prose prose-slate prose-sm text-slate-600 dark:prose-dark">
          <p>
            {{ item.description }}
          </p>
        </div>
        <a
          class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white dark:focus:ring-slate-500 mt-6"
          href="javascript:void(0)"
          (click)="selectedItems(item.id); openModal()"
          >Learn more<span class="sr-only"
            >, Completely unstyled, fully accessible UI components</span
          ><svg
            class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
            width="3"
            height="6"
            viewBox="0 0 3 6"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M0 0L3 3L0 6"></path>
          </svg>
        </a>
      </div>
      <img
        [src]="item.imageUrl"
        alt=""
        class="mb-6 shadow-md rounded-lg bg-slate-50 w-96 sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full lg:w-96 lg:h-96"
        width="1216"
        height="640"
      />
    </li>
  </ul>
</section>

<!-- modal section -->
<div
  *ngIf="isModalOpen"
  class="fixed flex inset-0 z-10 bg-gray-500 bg-opacity-75 mt-10"
>
  <div class="flex self-center items-center justify-center w-full h-full p-8">
    <div
      class="flex flex-col overflow-hidden bg-white rounded max-w-screen-md w-full h-4/5 md:1/2 lg:h-3/4 lg:max-w-screen-2xl"
    >
      <div class="flex items-center justify-between p-4">
        <button (click)="closeModal()">X</button>
      </div>

      <div class="overflow-y-auto" *ngIf="selectedProduct">
        <h3
          class="text-3xl font-bold dark:text-white content-center text-center"
        >
          {{ selectedProduct.title }}
        </h3>
        <div class="m-auto max-w-6xl p-4 relative">
          <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2 max-w-md flex flex-col justify-center mb-4">
              <div class="bg-dots">
                <div
                  class="shadow-2xl max-w-xl z-10 rounded-full mt-1 lg:mr-10 md:mr-10"
                >
                  <img
                    alt="card img"
                    class="rounded-t"
                    [src]="selectedProduct.imageUrl"
                  />
                </div>
              </div>
            </div>

            <!-- table  -->
            <!-- Display specifications based on the selected product -->
            <div *ngIf="selectedProduct?.spacification">
              <div
                class="mt-0 border-t border-gray-100 text-md"
                *ngFor="let specification of selectedProduct.spacification"
              >
                <dl class="divide-y divide-gray-100">
                  <div
                    *ngFor="let key of getKeys(specification)"
                    class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0"
                  >
                    <dt class="font-medium leading-6 text-gray-900">
                      {{ key }}:
                    </dt>
                    <dd
                      class="mt-1 leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                    >
                      {{ specification[key] }}
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </div>
          <!-- description section -->
          <div class="mb-10">
            <h1
              class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl dark:text-white"
            >
              Product Description :
            </h1>
            <p
              class="text-gray-500 dark:text-gray-400 text-md lg:text-xl"
              *ngFor="let sentence of getSentences()"
            >
              {{ sentence.trim() }}.
            </p>
          </div>

          <!-- FAQ section -->
          <ng-container *ngFor="let detail of selectedProduct.faq; let i = index" class="mb-10">
            <details
              class="lg:p-4 group lg:text-xl text-md mb-2"
              [class.open]="openStates[i]"
            >
              <summary
                class="relative pr-8 font-medium list-none cursor-pointer text-slate-700 focus-visible:outline-none transition-colors duration-300 group-hover:text-slate-900"
                (click)="toggleDetails(i)"
              >
                {{ detail.question }}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="absolute right-0 w-4 h-4 transition duration-300 top-1 stroke-slate-700 shrink-0"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="1.5"
                  [class.rotate-45]="openStates[i]"
                >
                  <title id="title-ac02">Open icon</title>
                  <desc id="desc-ac02">
                    icon that represents the state of the summary
                  </desc>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 4v16m8-8H4"
                  />
                </svg>
              </summary>

              <p
                class="mt-4 text-slate-500 animate-fade-down"
                *ngIf="openStates[i]"
              >
                {{ detail.answer }}
              </p>
            </details>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
