<!-- Container for demo purpose -->
<div class="container rounded-s-full  bg-slate-200 my-24 mx-auto md:px-6">
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        About Us
      </p>
      <p class="text-blk subHeading justify-start">
        Here, we believe that each time a commercial vehicle gets access to modern fleet technology, roads become safer, millions of owners and drivers experience prosperity, and there is a positive impact on climate sustainability.<br />
        While many strides have been made in the developed world to leverage the best that technology has to offer, fleet owners and drivers elsewhere are still struggling with rudimentary products and services. We are changing that.
      </p>
      <div class="social-icons-container">
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
        </a>
      </div>
    </div>
  </div>
</div>