<!-- Container for demo purpose -->
<div class="container rounded-s-full  bg-slate-200 my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
  
    <section class="mb-32 pb-16 rounded-lg">
      <h1
        class="mb-10 lg:text-3xl md:text-3xl text-2xl text-pink-700 font-semibold animate-jump-in animate-duration-[5000ms]"
      >
        About Us
      </h1>
      <h1
        class="mb-10 lg:text-3xl md:text-3xl text-2xl text-sky-600 animate-fade-right animate-duration-[5000ms] font-semibold text-center"
      >
        Fleets are the beating heart of the global economy.
      </h1>
  
      <div class="flex flex-wrap p-7">
        <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
          <div class="flex lg:py-12  animate-jump-in animate-duration-[5000ms]">
            <img
              src="../../../assets/aboutPage.jpg"
              class="z-[10] w-full rounded-3xl shadow-lg dark:shadow-black/20 lg:ml-[50px]"
              alt="image"
            />
          </div>
        </div>
  
        <div class="w-full rounded-2xl shrink-0 grow-0 basis-auto lg:w-7/12">
          <div
            class="flex h-full items-center rounded-lg bg-yellow-600 p-6 text-center text-white lg:pl-12 lg:text-left"
          >
            <div class="lg:pl-12">
              <h2 class="mb-8 text-3xl font-bold">Your Goal</h2>
              <p class="mb-8 pb-2 lg:pb-0">
                Here, we believe that each time a commercial vehicle gets access
                to modern fleet technology, roads become safer, millions of owners
                and drivers experience prosperity, and there is a positive impact
                on climate sustainability.
              </p>
  
              <p>
                While many strides have been made in the developed world to
                leverage the best that technology has to offer, fleet owners and
                drivers elsewhere are still struggling with rudimentary products
                and services. We are changing that.
              </p>
  
              <div
                class="mx-auto mb-8 mt-8 flex flex-col md:flex-row md:justify-around xl:justify-start"
              >
                <p
                  class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="mr-2 h-5 w-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  Best team
                </p>
  
                <p
                  class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0 xl:mr-20"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="mr-2 h-5 w-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  24/7 Support
                </p>
  
                <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    class="mr-2 h-5 w-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  Fair Prices
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  
  <!-- Container for demo purpose -->
  <div class="container my-24 mx-auto md:px-6 bg-slate-200">
    <!-- Section: Design Block -->
    <section class="mb-32 bg-slate-200">
      <h1
      class="mb-0 mt-10 lg:text-3xl md:text-3xl text-2xl text-sky-600 animate-fade-right animate-duration-[5000ms] font-semibold text-center"
    >
      Our Focus
    </h1>
      <!-- Jumbotron -->
      <div class="container mx-auto lg:text-left xl:px-32 bg-slate-200">
        <div class="grid items-center lg:grid-cols-1">
          <div class="mb-2 p-20">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14"
            >
              <h2 class="mb-8 text-3xl font-bold">Enjoy the moment</h2>
  
              <p class="mb-0 text-neutral-500 text-2xl dark:text-neutral-300">
                PLANET has always been an entrepreneur in introducing and
                implementing new technologies customized to its client’s needs.
              
              </p>
  
              <p class="mb-0 text-neutral-500 text-2xl dark:text-neutral-300">
                With a dedicated and technically expert team of Pan India
                engineers, PLANET remains committed to implementing and
                maintaining networks that are smarter, faster, reliable, and
                durable
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
  
  <app-footer></app-footer>