<app-hero></app-hero>

<app-logo></app-logo>

<!-- <section class="bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
    >
      Title
    </h1>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          Lorem ipsum dolor sit amet
        </h3>
        <p class="text-gray-600 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
          ipsum eu nunc commodo posuere et sit amet ligula.
          <br />
          <br />

          Images from:

          <a class="text-pink-500 underline" href="https://undraw.co/"
            >undraw.co</a
          >
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img
            src="https://loconav.com/static/a17c83e62e218b50281790991b2f89f6/98dd3/monitor-assets-new.webp"
            class="z-0 w-full rounded-lg shadow-lg dark:shadow-black/20"
            alt="image"
          />
      </div>
    </div>

    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6 p=10 rounded-tr-full rounded-bl-full bg-sky-500">
        <img
            src="https://loconav.com/static/45f0c858f10daeb17fd9f97f3ec97143/9e35f/protect-vehicle-new.webp"
            class="z-0 w-full rounded-lg shadow-lg dark:shadow-black/20"
            alt="image"
          />
      </div>

      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle ">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
            Lorem ipsum dolor sit amet
          </h3>
          <p class="text-gray-600 mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
            ipsum eu nunc commodo posuere et sit amet ligula.
            <br />
            <br />
            Images from:

            <a class="text-pink-500 underline" href="https://undraw.co/"
              >undraw.co</a
            >
          </p>
        </div>
      </div>
    </div>
    
  </div>
</section> -->

<section class="bg-white border-b py-8">
  <div class="m-2 lg:ml-0 md:mr-0 lg:p-44 lg:pt-10 md:pt-5">
    <!-- Loop through assets and render each card dynamically -->
    <div *ngFor="let asset of assets; let even = even" class="flex flex-wrap">
      <div class="w-full sm:w-1/2 p-6 lg:mt-32" [class.order-1]="even" [class.order-2]="!even">
        <p class="lg:text-2xl md:text-base text-lg text-sky-500 font-thin font-serif leading-none mb-8">
          {{ asset.title }}
        </p>

        <h3 class="lg:text-5xl text-2xl text-black font-bold leading-none mb-8">
          {{ asset.subTitle }}
        </h3>

        <p class="text-gray-600 lg:text-2xl text-lg font-serif">
          {{ asset.description }}
        </p>
      </div>

      <div class="w-full sm:w-1/2 p-6" [class.order-2]="even" [class.order-1]="!even">
        <img [src]="asset.imageUrl" class="z-0 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
      </div>
    </div>
  </div>
</section>

<!-- <app-footer></app-footer> -->