<app-hero></app-hero>

<app-logo></app-logo>

<section class="bg-white border-b py-8">
  <div class="m-2 lg:ml-0 md:mr-0 lg:p-44 lg:pt-10 md:pt-5">
    <!-- Loop through assets and render each card dynamically -->
    <div *ngFor="let asset of assets; let even = even" class="flex flex-wrap">
      <div class="w-full sm:w-1/2 p-6 lg:mt-32" [class.order-1]="even" [class.order-2]="!even">
        <p class="lg:text-2xl md:text-base text-lg text-sky-500 font-thin font-serif leading-none mb-8">
          {{ asset.title }}
        </p>

        <h3 class="lg:text-5xl text-2xl text-black font-bold leading-none mb-8">
          {{ asset.subTitle }}
        </h3>

        <p class="text-gray-600 lg:text-2xl text-lg font-serif">
          {{ asset.description }}
        </p>
      </div>

      <div class="w-full sm:w-1/2 p-6" [class.order-2]="even" [class.order-1]="!even">
        <img [src]="asset.imageUrl" class="z-0 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
      </div>
    </div>
  </div>
</section>