.logo-container {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  animation: marqueeAnimation linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
